body {
	display: grid;
	grid-template-columns: 15% max-content;
	grid-template-rows: auto;
	gap: 10px;
}
h1 {
	grid-column: 2;
	grid-row: 1;
}
div.contact {
	grid-column: 2;
	grid-row: 2;
}
div.about_me {
	grid-column: 1;
	grid-row: 4 / span 4;
}
div.about_me>div:last-child,div.contact>div:last-child {
	display: none;
}
div.languages {
	grid-column: 1;
	grid-row: 3;
}
div.summary {
	grid-column: 2;
	grid-row: span 2;
}
div.summary>div>span:first-child {
	background-color: yellow;
}
div.summary>div:last-child, div.trainings_and_studies>div:last-child {
	margin-top: 10px;
}
div.summary>div:last-child>span {
	background-color: white
}
div.last___jobs {
	grid-column: 2
}

img {
	float: right;
}
@media print {
	img {
		display: block !important;
	}
	div.about_me>div:last-child {
		display: block;
	}
}
