div.about_me>div:last-child,div.contact>div:last-child {
	display: none;
}
div.tl_dr>div>span:first-child {
	background-color: yellow;
}
div.tl_dr>div:last-child {
	margin-top: 10px;
}
div.tl_dr>div:last-child>span {
	background-color: white
}
img {
	float: right;
}
@media print {
	img {
		display: block !important;
	}
	div.about_me>div:last-child {
		display: block;
	}
}
