body {
	display: grid;
	grid-template-rows: auto;
	gap: 10px;
}
h1 {
	font-size: 3.3em;
	grid-column: 2;
	grid-row: 1;
}
div.intro {
	grid-column: 2;
	grid-row: 3;
}
div.intro > div > span:nth-child(2), div.intro h2 {
	display: none;
}
div.intro > div > span:nth-child(3) {
	font-size: 1.5em;
}
div.contact {
	grid-column: 2;
	grid-row: 2;
}
div.about_me {
	grid-column: 1;
	grid-row: 5;
}
div.about_me>div:last-child,div.contact>div:last-child {
	display: none;
}
div.languages {
	grid-column: 1;
	grid-row: 3 / span 4;
}
div.summary {
	grid-column: 2;
	grid-row: span 2;
}
div.summary>div>span:first-child {
	background-color: yellow;
}
div.summary>div:last-child, div.trainings_and_studies>div:last-child {
	margin-top: 10px;
}
div.summary>div:last-child>span {
	background-color: white
}
div.last___jobs {
	grid-column: 2
}

img {
/*	float: right; */
}
@media only screen {
	body {
		grid-template-columns: 15% 70%;
	}
}
@media only print {
	body {
		grid-template-columns: 30% 800px;
	}
	.contact>img {
		display: block !important;
		position: absolute;
		top: 10px;
		left: 15px;
		width: 6%;
	}
	div.about_me>div:last-child {
		display: block;
	}
}
